/* reset css */
* {
    /* margem externa */
    margin: 0%;
    box-sizing: border-box;
}


body{
/*cor de fundo*/
background-color: #fff3e7;

/* Cor do texto */
color: #000 (0, 0, 0); 
}
/* seletor para os <A> */

a {
/* propriedade e valor */
text-decoration: none;
color: #ad795d;
}



/* header */
header {
/* row */
display:flex ;
justify-content: space-between;
align-items: center;
background-color: #e9bc8b;
/* largura ou comprimento */
width: 100%;
}
    /* ul */
.menu {
    list-style: none;
    /* lista horizontal */
    display: flex;
    /* espaço */
    gap: 1rem; /* um rem */
}