/* reset css */
* {
    /* margem externa */
    margin: 0%;
    box-sizing: border-box;
}


body{
/*cor de fundo*/
background-color: #fff3e7;

/* Cor do texto */
color: #000 (0, 0, 0); 
}
/* seletor para os <A> */

a {
/* propriedade e valor */
text-decoration: none;
color: #8f191f;
}



/* header */
header {
/* row */
display:flex ;
justify-content: space-between;
align-items: center;
background-color: #f7d2d3;
/* largura ou comprimento */
width: 100%;
}
    /* ul */
.menu {
    list-style: none;
    /* lista horizontal */
    display: flex;
    /* espaço */
    gap: 1rem; /* um rem */

}
/* tag nav */
.menu-desktop {
    display: none;  
}
/* logo */
.logo {
    width: 12rem;
}
/* Responsivo */

/* daq pra cima mobile */

/* serve para as telas maiores */

/* telas maiores que 768px */

@media (min-width: 768px) {
    header {
        /* espaço interno */
         padding: 1rem 6rem;
         justify-content: ;
         gap: ;
    }
    /* nav */
    .menu-desktop {
        display: flex;

    }

}